<simple-notifications [options]="options"></simple-notifications>
<div class="row">
  <div class="col-sm-6">
    <h3 style="font-weight:600; padding: 7px;">Bulk Vehicle Upload</h3>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn" (click)="backToVehicleDetails()">Back</button>
  </div>
</div>
&nbsp;
<div class="add-bulk" style="padding-left: 450px;">
  <div class="container">
    <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
    <button type="button" class="btn btn-info" (click)="Upload()">Upload</button> &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-warning" (click)="addBulkVehicles()">Submit</button>
  </div>

</div>
<div class="bulk-submit" style="float:right">

</div>