<!-- <div class="tabs-services">
</div> -->
<div class="sale-dashboard">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 pointer" (click)="todaySaleClick()">
        <div class="income-dashone-total shadow-reset nt-mg-b-30">
          <div class="income-title">
            <div class="main-income-head">
              <a>
                <h2>Today sales</h2>
              </a>
            </div>
          </div>
          <div class="income-dashone-pro">
            <div class="income-rate-total">
              <div class="price-adminpro-rate">
              </div>
              <div class="price-graph">
                <span id="sparkline6"></span>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4 pointer" (click)="todaySaleClick()">
        <div class="income-dashone-total shadow-reset nt-mg-b-30">
          <div class="income-title">
            <div class="main-income-head">
              <a>
                <h2>Total sales</h2>
              </a>

            </div>
          </div>
          <div class="income-dashone-pro">
            <div class="income-rate-total">
              <div class="price-adminpro-rate">
              </div>
              <div class="price-graph">
                <span id="sparkline6"></span>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 pointer" (click)="newSaleClick()">
        <div class="income-dashone-total shadow-reset nt-mg-b-30">
          <div class="income-title">
            <div class="main-income-head">
              <a>
                <h2>New Sale</h2>
              </a>
            </div>
          </div>
          <div class="income-dashone-pro">
            <div class="income-rate-total">
              <div class="price-adminpro-rate">
              </div>
              <div class="price-graph">
                <span id="sparkline6"></span>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4 pointer" (click)="viewSalesClick()">
        <div class="income-dashone-total shadow-reset nt-mg-b-30">
          <div class="income-title">
            <div class="main-income-head">
              <a>
                <h2>View Sales</h2>
              </a>
            </div>
          </div>
          <div class="income-dashone-pro">
            <div class="income-rate-total">
              <div class="price-adminpro-rate">
              </div>
              <div class="price-graph">
                <span id="sparkline6"></span>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


