<div class="row">
  <div class="col-sm-6">
    <h3 style="font-weight:600; padding: 7px;">Add Price List</h3>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn" (click)="backToPriceSetup()">Back</button>
  </div>
</div>

<div class="add-bulk" style="padding-left: 450px;">
  <div class="container">
    <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
    <button type="button" class="btn btn-info" (click)="Upload()">Upload</button>
    <button type="button" class="btn btn-info" style="margin-left: 18px;" (click)="submite()">Submite</button>
  </div>
</div>