<div class="row">
  <div class="container">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"></div>
    <div class="col-sm-2">
      <button type="button" class="btn backBtn pull-right" (click)="backsaleDetails()">Back</button>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="csd-form" id="deliveryform">
  <div class="container">
    <div class="col-sm-8" style="padding-top:20px">
      <div class=" row form-group">
        <div class="col-sm-4"></div>
        <label class="col-sm-4">
          <h3>Delivery Note</h3>
        </label>
        <div class="col-sm-4"></div>
      </div>
      <div class=" row form-group">
        <label class="col-sm-4">Taken Delivery Of One TVS
          <span style="color:red">*</span>
        </label>
        <div class="col-sm-5">
          <input type="text" name="text" maxlength="50" class="form-control" [(ngModel)]="vehicleModel" readonly>
        </div>
        <label class="col-sm-2">Bearing
        </label>
      </div>

      <div class=" row form-group">
        <label class="col-sm-4"> Engine No.
          <span style="color:red">*</span>
        </label>
        <div class="col-sm-8">
          <!-- <input  type="text" id="engNo"  name="engNo" maxlength="50" class="form-control" [(ngModel)]="engineNo" readonly>  -->
          <div  class="form-control" readonly>
            {{engineNo}}
          </div>
        </div>
      </div>

      <div class=" row form-group">
        <label class="col-sm-4"> Frame No.
          <span style="color:red">*</span>
        </label>
        <div class="col-sm-8">
          <!-- <input type="text" name="FrameNo" maxlength="50" class="form-control" [(ngModel)]="frameNo" readonly> -->
        <div class="form-control" readonly>
          {{frameNo}}
        </div>
        </div>
      </div>

      <div class=" row form-group">
        <label class="col-sm-4"> Colour
          <span style="color:red">*</span>
        </label>
        <div class="col-sm-8">
          <!-- <input type="text" name="text" maxlength="50" class="form-control" [(ngModel)]="vehicleColor" readonly> -->
        <div class="form-control" readonly>
          {{vehicleColor}}
        </div>
        </div>
      </div>

      <div class=" row form-group">
        <label class="col-sm-12"> Along with tools and owner manual as supplied by TVS-M for Display purpose not for sale at our showroom.
        </label>
      </div>
      <br>
      <div class=" row form-group">
        <label class="col-sm-4"> Toolkit/ Manual Book:
          <span style="color:red">*</span>
        </label>
        <div class="col-sm-8">
          <input type="text" name="text" maxlength="50" class="form-control">

        </div>
      </div>

      <div class=" row form-group">
        <label class="col-sm-4">Address of outlet:
          <span style="color:red">*</span>
        </label>
        <div class="col-sm-8">
          <input type="text" name="text" maxlength="50" class="form-control">
        </div>
      </div>
      <br>
      <div class=" row form-group">
        <div class="col-sm-4"></div>
        <label class="col-sm-4"> Signature is Electrically Generated
        </label>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="row form-group">
  <div claas="container">
    <button type="submit" class="btn btn-warning" style="float:right;margin-right: 20%" (click)="printComponent('deliveryform')">Print</button>
  </div>
</div>

