<div class="tabs-services">
	<app-header></app-header>
	<div class="tab-content" id="myTabContent">
		<div id="sales" role="tabpanel" aria-labelledby="sales-tab">
			<div class="sales-tab">
				<div class="sales-tab1">
					<div class="col-md-12 col-sm-12 sales-tab-left">
						<div class="stl-title">
							<h2>Welcome -
								<span>
									<span id="demonew"></span>&nbsp;&nbsp;
									<strong>
										<span id="demo"></span>
									</strong>
								</span>
							</h2>
						</div>
						<br>
						<div class="row">
							<div class="container">
								<div class="col-sm-3">
									<input type="radio" name="optradio" (click)="newUserClick() " checked>
									<label style="font-size:16px">New</label>
								</div>
								<div class="col-sm-3">
									<input type="radio" name="optradio" (click)="exchangeUserClick()">
									<label style="font-size:16px">Exchange</label>
								</div>
								<div class="col-sm-3">
									<input type="radio" name="optradio" (click)="csdUserClick()">
									<label style="font-size:16px">CSD</label>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
	<div *ngIf="newUser || exchangeUser || csdUser">
		<div class="personal-info">
			<div class="container">
				<div class="col-sm-6">
					<h3>Personal Information</h3>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Name of the Customer
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">
							<input type="text" name="name" maxlength="50" class="form-control" [(ngModel)]="name">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Display Name On RC
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">
							<input type="text" name="rcname" maxlength="50" class="form-control" [(ngModel)]="nameOnRc">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Date Of Birth
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">
							<p-calendar [(ngModel)]="date1" name="dob" [inputStyle]="{'width':'190px'}" [showIcon]="true" [(ngModel)]="dob" dateFormat="yy-mm-dd"></p-calendar>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Father/Daughter/Wife
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">
							<input type="text" name="relation" maxlength="50" class="form-control" [(ngModel)]="relationName">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Address
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">
							<textarea class="form-control" maxlength="1000" rows="2" name="address" style="padding-left:1.6em" [(ngModel)]="address"></textarea>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Mandal
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">

							<input type="text" name="mandal" maxlength="50" class="form-control" [(ngModel)]="mandal">

						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">District Name
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">

							<input type="text" name="district" maxlength="50" class="form-control" [(ngModel)]="districtName">

						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Mobile
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">

							<input type="text" name="mobile" maxlength="50" class="form-control" [(ngModel)]="mobile">

						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Address Proof
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">

							<select name="state" class="form-control" [(ngModel)]="addressProof">
								<option value="" disabled select>Select</option>
								<option value="aadhar">Aadhar Card</option>
								<option value="license">License</option>
								<option value="voter">Voter Id</option>
								<option value="ration">Ration Card</option>
								<option value="current">Current Bill</option>
								<option value="water">Water Bill</option>
								<option value="gas">Gas Bill</option>
								<option value="mobile">Mobile Postpaid </option>
							</select>

						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required"></label>
						<div class="col-sm-5">

							<input type="text" name="aadharNumber" maxlength="50" class="form-control" [(ngModel)]="addressProofNo">

						</div>
					</div>

				</div>
				<div class="col-sm-6">
					<div *ngIf="newUser || exchangeUser">
						<h3>Vehicle Information</h3>
						<div class="row form-group">
							<label class="col-sm-4 col-form-label required">Engine No
								<span style="color:red">*</span>
							</label>
							<div class="col-sm-5">

								<input type="text" name="Engine" maxlength="50" class="form-control">

							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-4 col-form-label required">Frame No
								<span style="color:red">*</span>
							</label>
							<div class="col-sm-5">

								<input type="text" name="frame" maxlength="50" class="form-control">

							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-4 col-form-label required">DC No
								<span style="color:red">*</span>
							</label>
							<div class="col-sm-5">

								<input type="text" name="dcnum" maxlength="50" class="form-control">

							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-4 col-form-label required">Key No
								<span style="color:red">*</span>
							</label>
							<div class="col-sm-5">

								<input type="text" name="keyno" maxlength="50" class="form-control">

							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-4 col-form-label required">Vehicle Color</label>
							<div class="col-sm-5">

								<input type="text" name="color" maxlength="50" class="form-control">

							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-4 col-form-label required">Nominee Name
								<span style="color:red">*</span>
							</label>
							<div class="col-sm-5">

								<input type="text" name="nomini" maxlength="50" class="form-control">

							</div>
						</div>
						<div class="row form-group">
							<label class="col-sm-4 col-form-label required">Second vehicle
								<span style="color:red">*</span>
							</label>
							<div class="col-sm-5">

								<div class="form-check pull-left">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

								</div>

							</div>
						</div>

					</div>
					<div class="row form-group">
						<div class="col-sm-12">
							<h3>Pricing</h3>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-3 col-form-label required">ON ROAD PRICE
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-2">
							<div class="input-group">
								<input type="text" name="basic" maxlength="50" class="form-control">

								<span>Basic Price</span>
							</div>
						</div>
						<div class="col-sm-1">
							<span>+</span>
						</div>
						<div class="col-sm-2">
							<div class="input-group">
								<input type="text" name="basic" maxlength="50" class="form-control">
								<span>Life Tax</span>
							</div>
						</div>
						<div class="col-sm-1">
							<span>+</span>
						</div>
						<div class="col-sm-2">
							<div class="input-group">
								<input type="text" name="basic" maxlength="50" class="form-control">
								<span>insurance</span>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-3 col-form-label required"> </label>
						<div class="col-sm-2">
							<div class="input-group">
								<input type="text" name="basic" maxlength="50" class="form-control">

								<span> Handling C</span>
							</div>
						</div>
						<div class="col-sm-1">
							<span>+</span>
						</div>
						<div class="col-sm-2">
							<div class="input-group">
								<input type="text" name="basic" maxlength="50" class="form-control">
								<span> Registration</span>
							</div>
						</div>
						<div class="col-sm-1">
							<span>+</span>
						</div>
						<div class="col-sm-2">
							<div class="input-group">
								<input type="text" name="basic" maxlength="50" class="form-control">
								<span>warranty</span>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-3 col-form-label required"> </label>
						<div class="col-sm-2">
							<div class="input-group">
								<input type="text" name="basic" maxlength="50" class="form-control">

								<span>Accessories</span>
							</div>
						</div>
						<div class="col-sm-1">
							<span>+</span>
						</div>
						<div class="col-sm-2">
							<div class="input-group">
								<input type="text" name="basic" maxlength="50" class="form-control">
								<span> HP</span>
							</div>
						</div>
						<div class="col-sm-1">
							<span>-</span>
						</div>
						<div class="col-sm-2">
							<div class="input-group">
								<input type="text" name="basic" maxlength="50" class="form-control">
								<span>Discount</span>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Total Amount
						</label>
						<div class="col-sm-5">
							<input type="text" name="model" maxlength="50" class="form-control">
						</div>
					</div>
					<br>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Discount Approved By
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">
							<select name="emp" class="form-control">
								<option value="" disabled select></option>
								<option value="1">option 1</option>
							</select>
						</div>
					</div>

					<div class="csd-form" *ngIf="csdUser">
						<div class="container">
							<div class="col-sm-8" style="padding-top:20px">
								<div class=" row form-group">
									<label class="col-sm-4 col-form-label required">Pay Order
										<span style="color:red">*</span>
									</label>
									<div class="col-sm-5">

										<input type="file" name="idproof" accept="image/*">

									</div>
								</div>
								<div class=" row form-group">
									<label class="col-sm-4 col-form-label required">Delivery from showroom
										<span style="color:red">*</span>
									</label>
									<div class="col-sm-5">
										<input type="file" name="idproof" accept="image/*">
									</div>
								</div>

							</div>
							<div class="clear"></div>
							<div class="row form-group">
								<div claas="container">
									<button type="submit" class="btn btn-warning" style="float:right;margin-right: 20%">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div *ngIf="newUser">
		<div class="payment-mode">
			<div class="container">
				<div class="col-sm-6">
					<h3>Payment Mode</h3>
				</div>
				<div class="col-sm-12">
					<div class="row form-group">
						<label class="col-sm-3 col-form-label required">Payment Mode
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-3">
							<select name="state" class="form-control" [(ngModel)]="selectedValue">
								<option value="select" disabled select>Select</option>
								<option value="cash">Cash</option>
								<option value="emi">EMI</option>
							</select>

						</div>
					</div>
					<div class="cash-form" *ngIf="selectedValue == 'cash'">
						<div class="row form-group">
							<div class="col-sm-3">
								<input type="checkbox" name="myChk" id="myChk" for="myTxt" [(ngModel)]="cheque" (change)="triggerSomeEvent()" />Cheque
								<div class="tableShow" [style.visibility]="isDisabled">
									<input type="text" name="myTxt" id="myTxt" value="" />
								</div>
							</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-3">
								<input type="checkbox" name="myChk" id="myChk" for="cash" [(ngModel)]="cash" (change)="cashChangeEvent()" />Cash
								<div class="tableShow" [style.visibility]="disableCash">
									<input type="text" name="cash" id="cash" value="" />
								</div>
							</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-3">
								<input type="checkbox" name="myChk" id="myChk" for="credit" [(ngModel)]="creditCard" (change)="creditCardEvent()" />Credit Card
								<div class="tableShow" [style.visibility]="disableCredit">
									<input type="text" name="credit" id="credit" value="" />
								</div>
							</div>
							<div class="col-sm-1"></div>
							<div class="payment">
								<div class="col-sm-3">
									<input type="checkbox" name="myChk" id="myChk" for="bank" [(ngModel)]="accountTranfer" (change)="tranferEvent()" />Account Transfer
									<div class="tableShow" [style.visibility]="disableTransfer">
										<input type="text" name="credit" id="bank" value="" />
									</div>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<input type="checkbox" name="myChk" id="myChk" for="other" [(ngModel)]="other" (change)="otherEvent()" />Other
									<div class="tableShow" [style.visibility]="disableOther">
										<input type="text" name="other" id="other" value="" />
									</div>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<div class="input-group">
										<input type="text" name="total" maxlength="50" class="form-control">
										<span>Total</span>
									</div>
								</div>
							</div>
						</div>
						<div class=" row form-group">
							<label class="col-sm-4 col-form-label required">passport size photo
								<span style="color:rgb(77, 64, 64)">*</span>
							</label>
							<div class="col-sm-8">
								<div class="input-group">
									<p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" multiple="multiple" accept="image/*" maxFileSize="1000000">
										<ng-template pTemplate="content">
											<ul *ngIf="uploadedFiles.length">
												<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
											</ul>
										</ng-template>
									</p-fileUpload>

								</div>
							</div>
						</div>
					</div>
					<div class="emi-form" *ngIf="selectedValue == 'emi'">
						<div class=" row form-group">
							<label class="col-sm-4 col-form-label required">Financial Name
								<span style="color:red">*</span>
							</label>
							<div class="col-sm-3">
								<input type="text" name="cost" maxlength="50" class="form-control">

							</div>
						</div>
						<div class=" row form-group">
							<label class="col-sm-4 col-form-label required">Down Payment
								<span style="color:red">*</span>
							</label>
							<div class="col-sm-3">
								<input type="text" name="down" maxlength="50" class="form-control">
							</div>
						</div>
						<div class=" row form-group">
							<label class="col-sm-4 col-form-label required">Address Proof
								<span style="color:red">*</span>
							</label>
							<div class="col-sm-5">

								<input type="file" name="address" accept="image/*">

							</div>
						</div>
						<div class=" row form-group">
							<label class="col-sm-4 col-form-label required">ID Proof
								<span style="color:red">*</span>
							</label>
							<div class="col-sm-5">

								<input type="file" name="idproof" accept="image/*">

							</div>
						</div>
						<div *ngFor="let bank of banks;let i=index">
							<div class=" row form-group">
								<label class="col-sm-4 col-form-label required">Bank statement
									<span style="color:red">*</span>
								</label>
								<div class="col-sm-5">
									<input type="file" name="bank" accept="image/*">
								</div>
								<div *ngIf="i !==0">
									<div class="col-sm-1">
										<div class="delete-button">
											<button type="submit" class="btn btn-danger" (click)="deleteBankStatement(i)">Delete</button>
										</div>
									</div>
								</div>
								<div class="col-sm-1">
									<div class="add-button">
										<button type="submit" class="btn btn-success" (click)="addBankStatement(bank,i)">Add</button>
									</div>
								</div>


							</div>
						</div>

						<div class=" row form-group">
							<label class="col-sm-4 col-form-label required">cheque
								<span style="color:red">*</span>
							</label>
							<div class="col-sm-5">
								<input type="file" name="cheque" accept="image/*">
							</div>
						</div>

						<div class=" row form-group">
							<label class="col-sm-4 col-form-label required">passport size photo
								<span style="color:red">*</span>
							</label>
							<div class="col-sm-5">

								<input type="file" name="photo" accept="image/*">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="row form-group">
			<div claas="container">
				<button type="submit" class="btn btn-warning" style="float:right;margin-right: 20%">Submit</button>
			</div>
		</div>
	</div>
	<div *ngIf="exchangeUser">
		<div class="personal-info">
			<div class="container">
				<div class="col-sm-12">
					<h3>Exchange</h3>
				</div>
				<div class="col-sm-6">
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Vehicle No
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">

							<input type="number" name="exchange" maxlength="50" class="form-control">

						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Engine No
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">

							<input type="text" name="disbursement" maxlength="50" class="form-control">

						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">frame No
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">

							<input type="text" name="payment" maxlength="50" class="form-control">

						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Vehicle Color
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">

							<input type="text" name="color" maxlength="50" class="form-control">

						</div>
					</div>
				</div>
				<div class="col-sm-6">

					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Vehicle Model
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">
							<input type="text" name="model" maxlength="50" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Customer Name
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">
							<input type="text" name="vat" maxlength="50" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required"> Exchange Amount
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">

							<input type="text" name="vat" maxlength="50" class="form-control">

						</div>
					</div>
					<div class="row form-group">
						<label class="col-sm-4 col-form-label required">Exchange Amount Approved By
							<span style="color:red">*</span>
						</label>
						<div class="col-sm-5">

							<select name="state" class="form-control">
								<option value="" disabled select>Select</option>
								<option value="">1</option>
								<option value="">2</option>

							</select>

						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-4">
						<label>PR-</label> &nbsp;&nbsp;
						<input type="radio" name="pr">Yes &nbsp;&nbsp;
						<input type="radio" name="pr">No &nbsp;&nbsp;
					</div>
					<div class="col-sm-4">
						<label>Accessories-</label> &nbsp;&nbsp;
						<input type="radio" name="accessories" [(ngModel)]="selectedRadio" value="y">Yes &nbsp;&nbsp;

						<input type="radio" name="accessories">No &nbsp;&nbsp;
						<div class="new-text" *ngIf="selectedRadio == 'y'">
							<textarea class="form-control" maxlength="1000" rows="2" name="address"></textarea>
						</div>
					</div>
					<div class="col-sm-4">
						<label>Extended Warranty-</label> &nbsp;&nbsp;
						<input type="radio" name="extended">Yes &nbsp;&nbsp;
						<input type="radio" name="extended">No &nbsp;&nbsp;
					</div>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div claas="container">
				<button type="submit" class="btn btn-warning" style="float:right;margin-right: 20%">Submit</button>
			</div>
		</div>
	</div>


</div>
<app-footer></app-footer>